{% extends 'super_admin/base.html' %}
{% load static %}

{% block page_content %}
<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Contact Informations</h4>
                  <p class="card-description">
                    Contact Informations
                  </p>
                  <form class="forms-sample" action="{%url 'editSiteContactInfo' pk=pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">E-mail</label>
                      <input type="email" class="form-control" id="contact_email" name="contact_email" value="{{contact_info.email}}" placeholder="Email">
                    </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">Mobile</label>
                      <input type="number" class="form-control" id="mobile_number" name="mobile_number" value="{{contact_info.mobile}}" placeholder="Mobile">
                    </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">Facebook</label>
                      <input type="text" class="form-control" id="facebook_link" name="facebook_link" value="{{contact_info.fb}}" placeholder="Facebook Link">
                    </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">Twitter</label>
                      <input type="text" class="form-control" id="twitter_link" name="twitter_link" value="{{contact_info.tw}}" placeholder="Twitter Link">
                    </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">Instagram</label>
                      <input type="text" class="form-control" id="instagram_link" name="instagram_link" value="{{contact_info.instagrm}}" placeholder="Instagram Link">
                    </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                      <label for="exampleInputName1">Pinterest</label>
                      <input type="text" class="form-control" id="pinterest_link" name="pinterest_link" value="{{contact_info.pinterest}}" placeholder="Pinterest Link">
                    </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Upload Site Logo</label>
                      <div class="input-group col-xs-12">
                        <input type="file" name="site_logo" id="site_logo" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                      <label for="exampleInputName1">Address</label>
                          <textarea class="form-control" id="contact_address"  name="contact_address" placeholder="Address" cols="" rows="8">{{contact_info.address}}</textarea>
                    </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
{% endblock %}
