{%extends 'seller_admin/base.html' %}
{% load static %}

{% block page_content %}

<!-- Page content -->
<div id="page-content">
    <!-- eCommerce Product Edit Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li>
                <a href="page_ecom_dashboard.html"><i class="fa fa-bar-chart"></i> Dashboard</a>
            </li>
            <li>
                <a href="page_ecom_orders.html"><i class="gi gi-shop_window"></i> Orders</a>
            </li>
            <li>
                <a href="page_ecom_order_view.html"><i class="gi gi-shopping_cart"></i> Order View</a>
            </li>
            <li>
                <a href="page_ecom_products.html"><i class="gi gi-shopping_bag"></i> Products</a>
            </li>
            <li class="active">
                <a href="page_ecom_product_edit.html"><i class="gi gi-pencil"></i> Product Edit</a>
            </li>
            <li>
                <a href="page_ecom_customer_view.html"><i class="gi gi-user"></i> Customer View</a>
            </li>
        </ul>
    </div>


    <!--                  Django message frameword -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h4{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="row">
        <div class="col-lg-12">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>Add</strong> New Product</h2>
                    <span><a href="/product/list/ByCategory">Back To Product List</a></span>
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form action="{%url 'addProduct' %}" method="post" class="form-horizontal form-bordered"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text" id="product_name" name="product_name" class="form-control"
                                   placeholder="Product Name" autofocus>
                        </div>
                        <div class="col-md-6">
                            <textarea name="product_search_tag" id="product_search_tag" class="form-control" cols="30"
                                      rows="3" placeholder="Product Search Tag (keyword1,keyword2)"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <textarea name="product_short_description" id="product_short_description"
                                      class="form-control" cols="30" rows="3"
                                      placeholder="Product Short Descriptions"></textarea>
                        </div>
                        <div class="col-md-6">
                            <textarea name="product_search_title" id="product_search_title" class="form-control"
                                      cols="30" rows="3" placeholder="Product Search Title"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <textarea id="product_description" name="product_description" class="form-control" rows="5"
                                      placeholder="Product Description"></textarea>
                        </div>
                        <div class="col-md-6">

                            <div class="dropzone">
                                <span style="color:red;">Choose at least 5 different images of your product with <br> different color and views!</span>
                                <input type="file" name="product_img" multiple>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <select id="product_subcategory" name="product_subcategory" class="select-chosen"
                                    data-placeholder="Choose Product Sub-Category.." style="width: 250px;">
                                <option></option>
                                <!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                {% for y in product_cats %}
                                <optgroup label="{{y.category_name}}">
                                    {% for x in product_subcats %}
                                    {% if x.cat_id == y.pk %}
                                    <option value="{{x.pk}}">{{x.subcategory_name}}|{{x.pk}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                                <optgroup label="Single Categories">
                                    {% for x in product_cats %}
                                    {% if x.pk not in cats_of_subcats %}
                                    <option value="{{x.pk}}">{{x.category_name|capfirst}}|{{x.pk}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </optgroup>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <select name="product_condition" id="product_condition" class="select-chosen"
                                    data-placeholder="Choose Product Condition.." style="width: 250px;">
                                <option></option>
                                <option value="used">Used</option>
                                <option value="new">New</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                <input type="text" id="product_old_price" name="product_old_price" class="form-control"
                                       placeholder="Product Old Price ($) (optional)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                <input type="text" id="product_new_price" name="product_new_price" class="form-control"
                                       placeholder="Product New Price (0,00$)">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-magic"></i></div>
                                <input type="text" id="product_in_stock" name="product_in_stock" class="form-control"
                                       placeholder="10 Products In Stocks">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <textarea name="product_available_colors" id="product_available_colors" cols="30" rows="5"
                                      class="form-control"
                                      placeholder="Add available colors of product (Ex:red,blue)"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Add
                                Product
                            </button>
                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->
        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!--<script src="{% static 'seller_admin/js/dropzone.js' %}"></script>-->
<!-- END Page Content -->
{% endblock %}
