{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Seller Admin</title>

        <meta name="description" content="">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{% static 'seller_admin/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon72.png' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'seller_admin/img/icon180.png' %}" sizes="180x180">
        <!-- END Icons -->
        <link rel="stylesheet" href="{%static 'seller_admin/css/dropzone.css' %}">

        <!--  custom css file      -->
        <link rel="stylesheet" type="text/css" href="{% static 'seller_admin/custom_css/online_service_related_jobList.css' %}">

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'seller_admin/css/bootstrap.min.css' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'seller_admin/css/plugins.css' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'seller_admin/css/main.css' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'seller_admin/css/themes.css' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'seller_admin/js/vendor/modernizr.min.js' %}"></script>

         <!--    font awesome link -->
    <script src="https://kit.fontawesome.com/844afe38f3.js" crossorigin="anonymous"></script>

        <!--    ckeditor -->
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<!--        ends ckeditor-->

    </head>
    <body>
        <!-- Page Wrapper -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
            Available classes:

            'page-loading'      enables page preloader
        -->
        <div id="page-wrapper">
            <!-- Preloader -->
            <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
            <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
            <div class="preloader themed-background">
                <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
                <div class="inner">
                    <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                    <div class="preloader-spinner hidden-lt-ie10"></div>
                </div>
            </div>
            <!-- END Preloader -->

            <!-- Page Container -->

            <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Brand -->
                            <a href="index.html" class="sidebar-brand">
                                <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>Admin</strong>Panel</span>
                            </a>
                            <!-- END Brand -->

                            <!-- User Info -->
                            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                                <div class="sidebar-user-avatar">
                                    <a href="/seller/admin/panel/home">
                                        {% if seller_profile_pic %}
                                        <img src="{{seller_profile_pic}}" alt="avatar">
                                        {% else %}
                                        <img src="{% static 'seller_admin/img/placeholders/avatars/avatar2.jpg' %}" alt="avatar">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="sidebar-user-name">{{request.user.username}}</div>
                                <div class="sidebar-user-links">
                                    <a href="/add/profile/info/seller/list" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
<!--                                    <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>-->
                                    <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                    <a href="/seller/admin/profile/setting" class="enable-tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
                                    <a href="/seller/admin/panel/logout" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                                </div>
                            </div>
                            <!-- END User Info -->

                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="/seller/admin/panel/home" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                                </li>

<!--   *****************Don't touch it. Uncomment this part if want to add the ecommerce section-->

<!--                                <li>-->
<!--                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">eCommerce</span></a>-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <a href="page_ecom_dashboard.html">Dashboard</a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="/add/product">Add Products</a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="/product/list/ByCategory">Product List By Category</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                end ecommerce section  -->


                                    <!-- adding services -->
                                {% if is_seller_profile_info_exist  %}
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                    <span class="sidebar-header-title">Add Your Services</span>
                                </li>
<!--                               online services   -->
                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Online Services</span></a>
                                    <ul>
                                        <li>
                                            <a href="/add/online/service">Add services</a>
                                        </li>
                                        <li>
                                            <a href="/online/service/list">Services By Category</a>
                                        </li>
                                    </ul>
                                </li>
<!--                                In person services -->
                                 <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">In-Person Service</span></a>
                                    <ul>
                                        <li>
                                            <a href="/add/inperson/service/">Add services</a>
                                        </li>
                                        <li>
                                            <a href="/inperson/service/list">Services By Category</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}


                                 <!-- Profile setting -->
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                    <span class="sidebar-header-title">Profile Setting</span>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Edit Profile Info</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/add/profile/info/seller/list">Edit Profile Details</a>
                                        </li>
                                        <li>
                                            <a href="/add/portfolio/img">Edit Portfolio</a>
                                        </li>
                                    </ul>
                                </li>
<!--                                Profile setting ended -->

                                <!-- job section -->
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                    <span class="sidebar-header-title">Find Jobs & Orders</span>
                                </li>

                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Choose Job Category</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/inperson/service/jobs">In Person Services</a>
                                        </li>
                                        <li>
                                            <a href="/online/service/jobs">Online Services</a>
                                        </li>
                                    </ul>
                                </li>

<!--                                orders-->
                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Orders</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="">Active Orders</a>
                                        </li>
                                        <li>
                                            <a href="">Completed Orders</a>
                                        </li>
                                         <li>
                                            <a href="">Cancelled Orders</a>
                                        </li>
                                    </ul>
                                </li>

<!--                                messages-->
                                <!--                                orders-->
                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Check Messages</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="">Messages</a>
                                        </li>
                                    </ul>
                                </li>

<!--                            security and account settings  -->
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                    <span class="sidebar-header-title">Security Settings</span>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
<!--                                        <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>-->
                                        <i class="fa fa-cog fa-fw sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Settings</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/seller/account/setting">Account Setting</a>
                                        </li>
                                        <li>
                                            <a href="/seller/security/question/setting">Security Question</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <!-- END Sidebar Navigation -->

                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <header class="navbar navbar-default">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">
                            <!-- Main Sidebar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                    <i class="fa fa-bars fa-fw"></i>
                                </a>
                            </li>
                            <!-- END Main Sidebar Toggle Button -->

                            <!-- Template Options -->
                            <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="gi gi-settings"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-custom dropdown-options">
                                    <li class="dropdown-header text-center">Header Style</li>
                                    <li>
                                        <div class="btn-group btn-group-justified btn-group-sm">
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
                                        </div>
                                    </li>
                                    <li class="dropdown-header text-center">Page Style</li>
                                    <li>
                                        <div class="btn-group btn-group-justified btn-group-sm">
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- END Template Options -->
                        </ul>
                        <!-- END Left Header Navigation -->

                        <!-- Search Form -->
                        <form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                            <div class="form-group">
                                <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                            </div>
                        </form>
                        <!-- END Search Form -->

                        <!-- Right Header Navigation -->
                        <ul class="nav navbar-nav-custom pull-right">

                            <!-- User Dropdown -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{%static 'seller_admin/img/placeholders/avatars/avatar2.jpg' %}" alt="avatar"> <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                    <li class="dropdown-header text-center">Account</li>
                                    <li>
                                        <a href="page_ready_timeline.html">
                                            <i class="fa fa-clock-o fa-fw pull-right"></i>
                                            <span class="badge pull-right">10</span>
                                            Updates
                                        </a>
                                        <a href="page_ready_inbox.html">
                                            <i class="fa fa-envelope-o fa-fw pull-right"></i>
                                            <span class="badge pull-right">5</span>
                                            Messages
                                        </a>
                                        <a href="page_ready_pricing_tables.html"><i class="fa fa-magnet fa-fw pull-right"></i>
                                            <span class="badge pull-right">3</span>
                                            Subscriptions
                                        </a>
<!--                                        <a href="page_ready_faq.html"><i class="fa fa-question fa-fw pull-right"></i>-->
<!--                                            <span class="badge pull-right">11</span>-->
<!--                                            FAQ-->
<!--                                        </a>-->
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/add/profile/info/seller/list">
                                            <i class="fa fa-user fa-fw pull-right"></i>
                                            Profile
                                        </a>
                                        <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
<!--                                        <a href="#" data-toggle="modal">-->
<!--                                            <i class="fa fa-cog fa-fw pull-right"></i>-->
<!--                                            Settings-->
<!--                                        </a>-->
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="page_ready_lock_screen.html"><i class="fa fa-lock fa-fw pull-right"></i> Lock Account</a>
                                        <a href="login.html"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->

                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    {% block page_content %}

                    {% endblock %}
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <footer class="clearfix">
                        <div class="pull-right">
                            Developed <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/vNS3I" target="_blank">Nazmul Hasan</a>
                        </div>
                        <div class="pull-left">
                            <span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">AdminPanel</a>
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'seller_admin/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'seller_admin/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'seller_admin/js/plugins.js' %}"></script>
        <script src="{% static 'seller_admin/js/app.js' %}"></script>

        <!-- Google Maps API Key (you will have to obtain a Google Maps API key to use Google Maps) -->
        <!-- For more info please have a look at https://developers.google.com/maps/documentation/javascript/get-api-key#key -->
        <script src="https://maps.googleapis.com/maps/api/js?key="></script>
        <script src="{% static 'seller_admin/js/helpers/gmaps.min.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'seller_admin/js/pages/index.js' %}"></script>
        <script src="{% static 'seller_admin/js/dropzone.js' %}"></script>
        <script>$(function(){ Index.init(); });</script>
    </body>
</html>
