{%extends 'seller_admin/base.html' %}
{% load static %}

{% block page_content %}

<!--new new new new-->
<div id="page-content">
    <!-- eCommerce Product Edit Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li>
                <a href="page_ecom_dashboard.html"><i class="fa fa-bar-chart"></i> Dashboard</a>
            </li>
            <li>
                <a href="page_ecom_orders.html"><i class="gi gi-shop_window"></i> Orders</a>
            </li>
            <li>
                <a href="page_ecom_order_view.html"><i class="gi gi-shopping_cart"></i> Order View</a>
            </li>
            <li>
                <a href="page_ecom_products.html"><i class="gi gi-shopping_bag"></i> Products</a>
            </li>
            <li class="active">
                <a href="page_ecom_product_edit.html"><i class="gi gi-pencil"></i> Product Edit</a>
            </li>
            <li>
                <a href="page_ecom_customer_view.html"><i class="gi gi-user"></i> Customer View</a>
            </li>
        </ul>
    </div>


    <!--                  Django message frameword -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h4{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="row">
        <div class="col-lg-12">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>Add Your</strong> New Service To Get More Clients!</h2>
                    <!--                                        <span><a href="/product/list/ByCategory">Back To Product List</a></span>-->
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form action="{%url 'editOnlineServiceList' pk=pk %}" method="post" class="form-horizontal form-bordered" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-6">
                            <textarea name="online_service_title" id="online_service_title"
                                      class="form-control" cols="30" rows="3"
                                      placeholder="Full-stack Web Developer Or Python Developer" autofocus="">{{service_old_info.service_title}}</textarea>
                        </div>
                        <div class="col-md-6">
                            <textarea name="online_service_details" id="online_service_details" class="form-control"
                                      cols="30" rows="3" placeholder="Details about your service">{{service_old_info.service_description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <select id="online_service_subcategory" name="online_service_subcategory" class="select-chosen"
                                    data-placeholder="Choose Service Category.." style="width: 250px;">
                                <optgroup label="{{service_cat.service_name}}">
                                    <option value="{{service_subcat.pk}}" selected>{{service_subcat.subcategory_name}}</option>
                                </optgroup>
                                {% for cat in service_cats %}
                               <optgroup label="{{cat.service_name}}">
                                   {% for subcat in service_subcats %}
                                   {% if cat.pk == subcat.cat_id %}
                                   <option value="{{subcat.pk}}">{{subcat.subcategory_name}}</option>
                                   {% endif %}
                                   {% endfor %}
                               </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="dropzone">
                                <span style="color:red;">Choose an image related  <br> to your service!</span>
                                <input type="file" name="service_image" id="service_image" multiple>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Add New Service
                            </button>
                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->

        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
{% endblock %}
