{% extends 'front_end/base.html' %}
{% load static %}

{% block main_block %}
<div id="page-content">
        <!-- Lookbook Start -->
        <div class="container">
        	<div class="row">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        			<div class="empty-page-content text-center">
                        <h1>{{msg}}</h1>
                        <p>{{defined_error}}.</p>
                        <p><a href="/" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                      </div>
        		</div>
        	</div>
        </div>
        <!-- Lookbook Start -->
    </div>
{% endblock %}
