{% extends 'front_end/base.html' %}
{% load static %}

{% block main_block %}
<br><br><br><br>
<div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Login As Your Account Type</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">

                        <button type="button" id="login_option_btn_modify_1"><a href="/seller/admin/panel/login">Login or Create Account as Seller</a></button>
                        <br>
                        <br>
                        <button type="button" id="login_option_btn_modify_2"><a href="/login/front/user">Login or Create Account as Customer</a></button>

                    </div>
               	</div>
            </div>
        </div>

    </div>
{% endblock %}
