{% extends 'front_end/base.html' %}
{% load static %}

{% block main_block %}
<div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper pb-section sliderFull">
        	<div class="home-slideshow">

                {% for slider in slider_list %}
            	<div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="{{slider.slider_img_url}}" src="{{slider.slider_img_url}}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">{{slider.slider_img_title}}</h2>
                                        <span class="mega-subtitle slideshow__subtitle">{{slider.slider_img_subtitle}}</span>
                                        <span class="btn">Shop now</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!--End Home slider-->



        <!--Collection Tab slider-->
<!--        <div class="tab-slider-product section">-->
<!--        	<div class="container">-->
<!--&lt;!&ndash;            	<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="section-header text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2 class="h2">New Arrivals</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>Browse the huge variety of our products</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="tabs-listing">&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="tabs clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li class="active" rel="tab1">Women</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li rel="tab2">Men</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li rel="tab3">Sale</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="tab_container">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div id="tab1" class="tab_content grid-products">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="productSlider">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="col-12 item">&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-image">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="short-description.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image1.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; Hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image1-1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image1-1.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; product label &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End product label &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                &lt;!&ndash; countdown start &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        		<div class="saleTime desktop" data-countdown="2022/03/01"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        		&lt;!&ndash; countdown end &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                &lt;!&ndash; Start product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="button-set">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <i class="icon anm anm-search-plus-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="wishlist-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="wishlist add-to-wishlist" href="wishlist.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-heart-l"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="compare-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-random-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash;start product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-details text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-name">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="short-description.html">Edna Dress</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product price &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-price">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="old-price">$500.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="price">$600.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product price &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                <div class="product-review">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Variant &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <ul class="swatches">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant1.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant4.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant5.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant6.jpg' %}" alt="image" /></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End Variant &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; End product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div id="tab2" class="tab_content grid-products">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="productSlider">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="col-12 item">&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-image">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="short-description.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image6.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image6.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; Hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image6-1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image6-1.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; product label &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End product label &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                &lt;!&ndash; Start product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="button-set">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <i class="icon anm anm-search-plus-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="wishlist-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="wishlist add-to-wishlist" href="wishlist.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-heart-l"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="compare-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-random-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                            &lt;!&ndash;start product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-details text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-name">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="short-description.html">Zipper Jacket</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product price &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-price">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="price">$788.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product price &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                <div class="product-review">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; End product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div id="tab3" class="tab_content grid-products">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="productSlider">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="col-12 item">&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-image">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; start product image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="short-description.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image11.jpg' %}" src="{% static 'front_end/assets/images/product-images/product-image11.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; Hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <img class="hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image11-1.jpg' %}" src="{% static 'front_end/assets/images/product-images/product-image11-1.jpg' %}" alt="image" title="product">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    &lt;!&ndash; End hover image &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                &lt;!&ndash; Start product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="button-set">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <i class="icon anm anm-search-plus-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="wishlist-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="wishlist add-to-wishlist" href="wishlist.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-heart-l"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="compare-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <i class="icon anm anm-random-r"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; end product button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; end product image &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                            &lt;!&ndash;start product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="product-details text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-name">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a href="short-description.html">Azur Bracelet in Blue Azurite</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product name &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; product price &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="product-price">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="price">$168.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; End product price &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                                                <div class="product-review">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="font-13 fa fa-star-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            &lt;!&ndash; End product details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;            	</div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!--Collection Tab slider-->

        <!--Collection Box slider-->
    <div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        				<div class="section-header text-center">
                            <h2 class="h2">Our In Person Services</h2>
                            <p>Our most popular In Person services</p>
                        </div>
            		</div>
                </div>
        <div class="collection-box section">
        	<div class="container-fluid">
				<div class="collection-grid">
                    {% for subcat in inperson_service_subcats %}
                        <div class="collection-grid-item">
                            <a href="collection-page.html" class="collection-grid-item__link">
                                <img data-src="{{subcat.img.url}}" src="{{subcat.img.url}}" alt="" width="100%" height="300px;" style="border:5px solid white;" class="blur-up lazyload"/>
                                <div class="collection-grid-item__title-wrapper" style="width:90%;left:5%;">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">{{subcat.name}}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <!--End Collection Box slider-->


            <!--Collection Box slider-->
    <div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        				<div class="section-header text-center">
                            <h2 class="h2">Our Online Services</h2>
                            <p>Our most popular Online services</p>
                        </div>
            		</div>
                </div>
        <div class="collection-box section">
        	<div class="container-fluid">
				<div class="collection-grid">
                    {% for subcat in online_service_subcats %}
                        <div class="collection-grid-item">
                            <a href="collection-page.html" class="collection-grid-item__link">
                                <img data-src="{{subcat.service_subcat_img.url}}" src="{{subcat.service_subcat_img.url}}" alt="" width="105%" height="300px;" style="border:5px solid white;" class="blur-up lazyload"/>
                                <div class="collection-grid-item__title-wrapper" style="width:80%;left:5%;">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">{{subcat.subcategory_name}}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <!--End Collection Box slider-->

        <!--Logo Slider made hidden for now-->

<!--        <div class="section logo-section">-->
<!--        	<div class="container">-->
<!--            	<div class="row">-->
<!--                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                		<div class="logo-bar">-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo1.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo2.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo3.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo4.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo5.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                    <div class="logo-bar__item">-->
<!--                        <img src="{%static 'front_end/assets/images/logo/brandlogo6.png' %}" alt="" title="" />-->
<!--                    </div>-->
<!--                </div>-->
<!--                	</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--End Logo Slider-->

        <!--Featured Product-->
<!--        <div class="product-rows section">-->
<!--        	<div class="container">-->
<!--            	<div class="row">-->
<!--                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">-->
<!--        				<div class="section-header text-center">-->
<!--                            <h2 class="h2">Our Services</h2>-->
<!--                            <p>Our most popular services</p>-->
<!--                        </div>-->
<!--            		</div>-->
<!--                </div>-->
<!--                <div class="grid-products">-->
<!--	                <div class="row">-->
<!--                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">-->
<!--                        	<div class="grid-view_image">-->
<!--                                &lt;!&ndash; start product image &ndash;&gt;-->
<!--                                <a href="product-accordion.html" class="grid-view-item__link">-->
<!--                                    &lt;!&ndash; image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image1.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End image &ndash;&gt;-->
<!--                                    &lt;!&ndash; Hover image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image1-1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image1-1.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End hover image &ndash;&gt;-->
<!--                                    &lt;!&ndash; product label &ndash;&gt;-->
<!--                                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>-->
<!--                                    &lt;!&ndash; End product label &ndash;&gt;-->
<!--                                </a>-->
<!--                                &lt;!&ndash; end product image &ndash;&gt;-->
<!--                                &lt;!&ndash;start product details &ndash;&gt;-->
<!--                                <div class="product-details hoverDetails text-center mobile">-->
<!--                                    &lt;!&ndash; product name &ndash;&gt;-->
<!--                                    <div class="product-name">-->
<!--                                        <a href="product-accordion.html">Edna Dress</a>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End product name &ndash;&gt;-->
<!--                                    &lt;!&ndash; product price &ndash;&gt;-->
<!--                                    <div class="product-price">-->
<!--                                        <span class="old-price">$500.00</span>-->
<!--                                        <span class="price">$600.00</span>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End product price &ndash;&gt;-->

<!--                                    &lt;!&ndash; product button &ndash;&gt;-->
<!--                                    <div class="button-set">-->
<!--                                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">-->
<!--                                            <i class="icon anm anm-search-plus-r"></i>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Start product button &ndash;&gt;-->
<!--                                        <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">-->
<!--                                            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i></button>-->
<!--                                        </form>-->
<!--                                        <div class="wishlist-btn">-->
<!--                                            <a class="wishlist add-to-wishlist" href="wishlist.html">-->
<!--                                                <i class="icon anm anm-heart-l"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="compare-btn">-->
<!--                                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">-->
<!--                                                <i class="icon anm anm-random-r"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end product button &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Variant &ndash;&gt;-->
<!--                                <ul class="swatches text-center">-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant1.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant4.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant5.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant6.jpg' %}" alt="image" /></li>-->
<!--                                </ul>-->
<!--                                &lt;!&ndash; End Variant &ndash;&gt;-->
<!--                                &lt;!&ndash; End product details &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">-->
<!--                        	<div class="grid-view_image">-->
<!--                                &lt;!&ndash; start product image &ndash;&gt;-->
<!--                                <a href="product-accordion.html" class="grid-view-item__link">-->
<!--                                    &lt;!&ndash; image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image2.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image2.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End image &ndash;&gt;-->
<!--                                    &lt;!&ndash; Hover image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image2-1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image2-1.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End hover image &ndash;&gt;-->
<!--                                    &lt;!&ndash; product label &ndash;&gt;-->
<!--                                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>-->
<!--                                    &lt;!&ndash; End product label &ndash;&gt;-->
<!--                                </a>-->
<!--                                &lt;!&ndash; end product image &ndash;&gt;-->
<!--                                &lt;!&ndash;start product details &ndash;&gt;-->
<!--                                <div class="product-details hoverDetails text-center mobile">-->
<!--                                    &lt;!&ndash; product name &ndash;&gt;-->
<!--                                    <div class="product-name">-->
<!--                                        <a href="product-accordion.html">Elastic Waist Dress</a>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End product name &ndash;&gt;-->
<!--                                    &lt;!&ndash; product price &ndash;&gt;-->
<!--                                    <div class="product-price">-->
<!--                                        <span class="price">$748.00</span>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; product button &ndash;&gt;-->
<!--                                    <div class="button-set">-->
<!--                                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">-->
<!--                                            <i class="icon anm anm-search-plus-r"></i>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Start product button &ndash;&gt;-->
<!--                                        <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">-->
<!--                                            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i></button>-->
<!--                                        </form>-->
<!--                                        <div class="wishlist-btn">-->
<!--                                            <a class="wishlist add-to-wishlist" href="wishlist.html">-->
<!--                                                <i class="icon anm anm-heart-l"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="compare-btn">-->
<!--                                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">-->
<!--                                                <i class="icon anm anm-random-r"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end product button &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Variant &ndash;&gt;-->
<!--                                <ul class="swatches text-center">-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2-1.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2-2.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2-3.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant2-4.jpg' %}" alt="image" /></li>-->
<!--                                </ul>-->
<!--                                &lt;!&ndash; End Variant &ndash;&gt;-->
<!--                                &lt;!&ndash; End product details &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">-->
<!--                        	<div class="grid-view_image">-->
<!--                                &lt;!&ndash; start product image &ndash;&gt;-->
<!--                                <a href="product-accordion.html" class="grid-view-item__link">-->
<!--                                    &lt;!&ndash; image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image primary blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image3.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image3.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End image &ndash;&gt;-->
<!--                                    &lt;!&ndash; Hover image &ndash;&gt;-->
<!--                                    <img class="grid-view-item__image hover blur-up lazyload" data-src="{%static 'front_end/assets/images/product-images/product-image3-1.jpg' %}" src="{%static 'front_end/assets/images/product-images/product-image3-1.jpg' %}" alt="image" title="product">-->
<!--                                    &lt;!&ndash; End hover image &ndash;&gt;-->
<!--                                    &lt;!&ndash; product label &ndash;&gt;-->
<!--                                    <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span> <span class="lbl pr-label1">new</span></div>-->
<!--                                    &lt;!&ndash; End product label &ndash;&gt;-->
<!--                                </a>-->
<!--                                &lt;!&ndash; end product image &ndash;&gt;-->
<!--                                &lt;!&ndash;start product details &ndash;&gt;-->
<!--                                <div class="product-details hoverDetails text-center mobile">-->
<!--                                    &lt;!&ndash; product name &ndash;&gt;-->
<!--                                    <div class="product-name">-->
<!--                                        <a href="product-accordion.html">3/4 Sleeve Kimono Dress</a>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End product name &ndash;&gt;-->
<!--                                    &lt;!&ndash; product price &ndash;&gt;-->
<!--                                    <div class="product-price">-->
<!--                                        <span class="price">$550.00</span>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; product button &ndash;&gt;-->
<!--                                    <div class="button-set">-->
<!--                                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">-->
<!--                                            <i class="icon anm anm-search-plus-r"></i>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Start product button &ndash;&gt;-->
<!--                                        <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">-->
<!--                                            <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i></button>-->
<!--                                        </form>-->
<!--                                        <div class="wishlist-btn">-->
<!--                                            <a class="wishlist add-to-wishlist" href="wishlist.html">-->
<!--                                                <i class="icon anm anm-heart-l"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="compare-btn">-->
<!--                                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">-->
<!--                                                <i class="icon anm anm-random-r"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end product button &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Variant &ndash;&gt;-->
<!--                                <ul class="swatches text-center">-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3-1.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3-2.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3-3.jpg' %}" alt="image" /></li>-->
<!--                                    <li class="swatch medium rounded"><img src="{%static 'front_end/assets/images/product-images/variant3-4.jpg' %}" alt="image" /></li>-->
<!--                                </ul>-->
<!--                                &lt;!&ndash; End Variant &ndash;&gt;-->
<!--                                &lt;!&ndash; End product details &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                	</div>-->
<!--                </div>-->
<!--           </div>-->
<!--        </div>-->
        <!--End Featured Product-->

        <!--Latest Blog made hidden for now-->

<!--        <div class="latest-blog section pt-0">-->
<!--        	<div class="container">-->
<!--            	<div class="row">-->
<!--                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">-->
<!--        				<div class="section-header text-center">-->
<!--      						<h2 class="h2">Latest From our Blog</h2>-->
<!--					    </div>-->
<!--            		</div>-->
<!--                </div>-->
<!--            	<div class="row">-->
<!--                	<div class="col-12 col-sm-12 col-md-6 col-lg-6">-->
<!--                    	<div class="wrap-blog">-->
<!--                        	<a href="blog-left-sidebar.html" class="article__grid-image">-->
<!--              					<img src="{%static 'front_end/assets/images/blog/post-img1.jpg' %}" alt="It's all about how you wear" title="It's all about how you wear" class="blur-up lazyloaded"/>-->
<!--				            </a>-->
<!--                            <div class="article__grid-meta article__grid-meta&#45;&#45;has-image">-->
<!--                                <div class="wrap-blog-inner">-->
<!--                                    <h2 class="h3 article__title">-->
<!--                                      <a href="blog-left-sidebar.html">It's all about how you wear</a>-->
<!--                                    </h2>-->
<!--                                    <span class="article__date">May 02, 2017</span>-->
<!--                                    <div class="rte article__grid-excerpt">-->
<!--                                        I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account...-->
<!--                                    </div>-->
<!--                                    <ul class="list&#45;&#45;inline article__meta-buttons">-->
<!--                                    	<li><a href="blog-article.html">Read more</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--							</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">-->
<!--                    	<div class="wrap-blog">-->
<!--                        	<a href="blog-left-sidebar.html" class="article__grid-image">-->
<!--              					<img src="{%static 'front_end/assets/images/blog/post-img2.jpg' %}" alt="27 Days of Spring Fashion Recap" title="27 Days of Spring Fashion Recap" class="blur-up lazyloaded"/>-->
<!--				            </a>-->
<!--                            <div class="article__grid-meta article__grid-meta&#45;&#45;has-image">-->
<!--                                <div class="wrap-blog-inner">-->
<!--                                    <h2 class="h3 article__title">-->
<!--                                      <a href="blog-right-sidebar.html">27 Days of Spring Fashion Recap</a>-->
<!--                                    </h2>-->
<!--                                    <span class="article__date">May 02, 2017</span>-->
<!--                                    <div class="rte article__grid-excerpt">-->
<!--                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab...-->
<!--                                    </div>-->
<!--                                    <ul class="list&#45;&#45;inline article__meta-buttons">-->
<!--                                    	<li><a href="blog-article.html">Read more</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--							</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--End Latest Blog-->

        <!--Store Feature-->
        <div class="store-feature section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    	<ul class="display-table store-info">
                        	<li class="display-table-cell">
                            	<i class="icon anm anm-truck-l"></i>
                            	<h5>Free Shipping &amp; Return</h5>
                            	<span class="sub-text">Free shipping on all US orders</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-dollar-sign-r"></i>
                                <h5>Money Guarantee</h5>
                                <span class="sub-text">30 days money back guarantee</span>
                          	</li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-comments-l"></i>
                                <h5>Online Support</h5>
                                <span class="sub-text">We support online 24/7 on day</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-credit-card-front-r"></i>
                                <h5>Secure Payments</h5>
                                <span class="sub-text">All payment are Secured and trusted.</span>
                        	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Store Feature-->
    </div>
{% endblock %}
